html{
    background-image: url('../img2/arknightsbackground.jpg');
    animation-name: anime;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    background-attachment: fixed;
    box-sizing:border-box;
    height:100vh;
    width: 100vw;
  
  }

  * {
    box-sizing: border-box;
  }
  ::-webkit-scrollbar{
  
  
    display: none;
  }

  .arkscontainer{
    max-width: 1540px;
    max-height: 1260px;
    margin-right: auto;
    margin-left: auto;

  }

  .nav2{
    display:flex;
    justify-content: center
    
  }
  
  .nav2_item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 15%;
    transition: 0.2s linear;
  }
  
  .nav2_list{
    width:100%;
    box-shadow: 0 1px 1px 0px;
    background-color: #202122;
    position: relative;
    display: flex;
    margin: 150px  ;
    height: 100px;
    justify-content: baseline;
    align-items: center;
   
  }
  
  .nav2_list_link{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 30px;
    font-family: Arial;
    font-weight: bold;
    font-size: 24px;
    font-weight: 1000;
    text-decoration: none;
    color: #e9e7ee;
  }


  .nav2_list_item{
    display: flex;
    width:156%;
    color:aliceblue;
    justify-content: center;
    align-items: center;
    list-style: none;
    transition: 0.3s;
    height: 100%;
  
  }

  .nav2_list_item:hover{
    background-color:  #6869b6;
  }
  
  .mainpic2 img{
    width: 100%;
    display: block;
    transition: 0.4s;
    border-radius: 3%;
  }
  
  .mainpic2 img:hover {
    opacity: 0.8;
    margin: 0 20px; 
  }

  .mainpic2{
    display:flex;
    flex-shrink: 0;
    padding-top: 150px;
  
  }
  
  .row2{
    display: flex;
    flex-wrap: wrap;
    
  }
  
  .col2{
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    width: calc(100%/2);
  }
  
  .gallery2{
    list-style: none;
    margin-bottom: 12px;
    padding: 10px 20px 10px;
  }
  
  .gallery2_item-link{
    position: relative;
    display: block;
  }
  