@keyframes anime {
  0% {
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
html{
    background-image: url('../../imgs/img3/background.jpg');
    background-repeat: no-repeat;
    animation-name: anime;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    max-height: 2000px;
    width: 100vw;
}

* {
    font-family: 'Noto Sans TC', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

.top-area {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 10px;
}

.header{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.title img{
    width: 20%;
}

.icon{
    display: flex;
    flex-direction: row;
}

.back{
    display: flex;
    align-items: center;
    margin-bottom: -50px;
    margin-left: 25px;
}

.back-home{
    color: rgb(23, 23, 23);
    font-size: 0.5rem;
    margin-bottom: -5px;
    margin-left: -10px;
}

.contact{
    display: flex;
    align-items: center;
    margin-bottom: -50px;
    margin-left: 25px;
}

.contact-us{
    color: rgb(23, 23, 23);
    font-size: 0.5rem;
}

.contact-pic img{
    opacity: 0.7;
}

.wrap{
    width: 20%;
    margin: auto 20px auto 450px;
}

.search-bar{
    height: 30px;
    width: 300px;
}

.search-btn{
    display: flex;
    justify-content: baseline;
    width: 32px;
    height: 30px;
    position: absolute;
    outline: none;
    cursor: pointer; 
    top: 0;
    right: 0; 
    padding: 0;
}


.search{
    position: relative;
    float: left;
}

.nav-list{
    width: 100%;
    display: flex;
    list-style: none;
    background-color: rgb(44, 43, 43);
    padding: 0;
    margin-bottom: 0;
}

.nav-list-item a{
    display: flex;
    height: 100%;
    width: 100%;
    font-size: 1.5rem;
    font-family: Arial;
    font-weight: 1000;
    color: rgb(183, 188, 184);
    padding: 25px 30px ;
}

.nav-list-item{
    transition: 0.4s;
}

.nav-list-item:hover{
    background-color:  rgba(60, 62, 61, 0.3);
  }


.introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 20px;
} 

.introduction h2{
    color: rgb(28, 30, 30, 0.9);
    margin-bottom: 0;
}

.introduction-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.introduction-sublist {
    display: none;
}
/* .introduction-sublist-open {
    display: block;
} */


.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(53, 51, 51, 0.6);
}  

.leftside-bar{
    width: 50%;
    color: rgb(205, 210, 206);
}

.new-title{
    display: flex;
    justify-content: center;
}

.new-pic{
    display: flex;
    justify-content: center;
}
.new-pic img{
    border-radius: 3%;
    border: 2px rgb(244, 248, 244) solid;
}

.new-pic a{
    transition: 0.4s;
}

.new-pic a:hover{
    opacity: 0.8;
    transform: scale(1.02);
}

.event{
    margin-left: 20px;
}

.event-title{
    margin-bottom: -20px;
}

.event-content img{
    margin-top: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.event-content p{
    font-weight: 800;
}

.horizontal-line{
    width: 100%;
    height: 2px;
    background-color: white;
}

.newcharacter{
    margin-left: 20px;
}

.newcharacter-pic img{
    margin-left: -15PX;
    margin-top: -10px;
    border-radius: 3px;
}

.newcharacter-content{
    display: flex;
    justify-content: space-around;
    align-items:flex-start;
}

.newcharacter-intro{
    margin-top: -30px;
    
}

.newcharacter-intro h3{
    font-size: 1.5rem;
}

.newcharacter-intro p{
    font-size: 1.2rem;
    font-weight: 800;
}

.newcharacter-intro a{
    color: rgb(205, 210, 206);
}

.newcharacter-intro a:hover{
    text-decoration: underline;
}

.rightside-bar{
    display: flex;
    width: 45%;
    flex-direction: column;
    align-items: center;
    color: rgb(205, 210, 206);
}

.character-title{
    display: flex;
    justify-content: center;
}

.character-pic{
    display: flex;
    justify-content: center;
    margin-top: -15px;
    margin-bottom: 50px;
}

.character-pic img{
    height: 85%;
    border-radius: 50%;
    border: 2px white solid;
}

.character-pic a{
    border-radius: 50%;
    transition: 0.4s;
    margin-bottom: -40px;
}

.character-pic a:hover{
    opacity: 0.8;
}

.material-title{
    margin-top: 30px;
}

.material-pic{
    display: flex;
    justify-content: center;
    margin-top: -15px;
    margin-bottom: 50px;
}

.material-pic img{
    border-radius: 50%;
    transition: 0.4s;
    border: 2px black solid;
}

.material-pic a{
    border-radius: 50%;
    transition: 0.4s;
}

.material-pic a:hover{
    opacity: 0.8;
}

.map-title{
    margin-top: 30px;
}

.map-pic{
    display: flex;
    justify-content: center;
    margin-top: -15px;
}

.map-pic img{
    height: 92%;
    border-radius: 50%;
    transition: 0.4s;
    border: 2px white solid;
}

.map-pic a{
    border-radius: 50%;
    transition: 0.4s;
}

.map-pic a:hover{
    opacity: 0.8;
}

.rightside-bar a{
    margin-top: 20px;
    color: rgb(205, 210, 206);
}

.rightside-bar a:hover{
    text-decoration: underline;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(34, 34, 34);
    height: 100px;
}

.footer p{
    color: rgb(205, 210, 206);
    font-size: 0.8rem;
}
