@keyframes anime {
    0% {
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }

html{
    background-image: url('../../imgs/img3/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    animation-name: anime;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    /* max-height: 2000px; */
    width: 100vw;
    line-height: 1.5;
}

* {
    font-family: 'Noto Sans TC', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

.top-area {
    display: flex;
    position: relative;
    align-items: center;
    margin-top: 20px;
    margin-left: 10px;
}

.header{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.title img{
    width: 20%;
}

.icon{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 50%;
    right: 30px;
}

.back{
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-bottom: -50px;
}

.home-pic img {
    width: 50px;
    height: 50px;
}

.back-home{
    color: rgb(23, 23, 23);
    font-size: 0.5rem;
    margin-bottom: -5px;
    margin-left: -10px;
}

.contact{
    display: flex;
    align-items: center;
    margin-bottom: -50px;
}

.contact-us{
    color: rgb(23, 23, 23);
    font-size: 0.5rem;
}

.contact-pic img{
    width: 30px;
    height: 30px;
    opacity: 0.7;
}

.wrap{
    position: absolute;
    width: 20%;
    right: 20px;  
    top: 25px; 
}

.search-bar{
    height: 30px;
    width: 100%;
}

.search-btn{
    
    width: 32px;
    height: 30px;
    position: absolute;
    outline: none;
    cursor: pointer; 
    top: 0;
    right: 0; 
    padding: 0;
}


.search{
    position: relative;
}

nav:after {
    content: '';
    display: block;
    clear: both
}

.nav-list{
    position: relative;
    width: 100%;
    display: flex;
    list-style: none;
    background-color: rgb(44, 43, 43);
    padding: 0;
    margin-bottom: 0;
    overflow: hidden;
}

.nav-list-item a{
    display: flex;
    height: 100%;
    width: 100%;
    font-size: 1.5rem;
    font-family: Arial;
    font-weight: 1000;
    color: rgb(183, 188, 184);
    padding: 25px 30px ;
}

.nav-list-item{
    transition: 0.4s;
}

.nav-list-item:hover{
    background-color:  rgba(60, 62, 61, 0.3);
  }


.introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 20px;
} 

.introduction h2{
    color: rgb(28, 30, 30, 0.9);
    margin-bottom: 0;
}

.introduction-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.introduction-sublist {
    display: none;
}

.introduction-sublist h3 {
    color: rgb(15, 15, 15);
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(53, 51, 51, 0.6);
}  

.tools {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    color: rgb(205, 210, 206);
}

.character {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.character-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.character-pic img{
    width: 100%;
    border-radius: 50%;
    border: 2px white solid;
}

.character-pic a{
    height: 100%;
    border-radius: 50%;
    transition: 0.4s;
}

.character-pic a:hover{
    opacity: 0.5;
}

.material {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.material-pic img{
    width: 100%;
    border-radius: 50%;
    transition: 0.4s;
    border: 2px black solid;
}

.material-pic a{
    border-radius: 50%;
    transition: 0.4s;
}

.material-pic a:hover{
    opacity: 0.5;
}

.map{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.map-pic img{
    width: 100%;
    border-radius: 50%;
    transition: 0.4s;
    border: 2px white solid;
}

.map-pic a{
    border-radius: 50%;
    transition: 0.4s;
}

.map-pic a:hover{
    opacity: 0.5;
}


.new_ver {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin-top: 20px;
    color: rgb(205, 210, 206);
}

.leftside-bar{
    color: rgb(205, 210, 206);
    /* display: ; */
}

.new-title{
    display: flex;
    justify-content: center;
}

.new-pic{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.new-pic img{
    border-radius: 3%;
    border: 2px rgb(244, 248, 244) solid;
    max-height: 100%;
    max-width: 100%;
}

.new-pic a{
    transition: 0.4s;
}

.new-pic a:hover{
    opacity: 0.8;
    transform: scale(1.02);
}

.event {
    display: none;   
    width: 80%;
}

.event-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.event-title{
    display: flex;
    justify-content: center;
}

.event-content img{
    width: 100%;
    margin-top: 5px;
    border-radius: 5px;
}

.event-content p{
    width: 100%;
    font-weight: 800;
}

.horizontal-line{
    width: 100%;
    height: 2px;
    margin-top: -10px;
    background-color: white;
    display: none;
}

/* .newcharacter{
    display: none;
}

.newcharacter-pic img{
    border-radius: 3px;
}

.newcharacter-content{
    display: flex;
    justify-content: space-around;
    align-items:flex-start;
}

.newcharacter-title h3{
    font-size: 1.5rem;
    margin-left: 20px;
}

.newcharacter-intro p{
    font-size: 1.2rem;
    font-weight: 800;
    margin-left: 20px;
}

.newcharacter-intro a{
    color: rgb(205, 210, 206);
}

.newcharacter-intro a:hover{
    text-decoration: underline;
} */

.rightside-bar a{
    color: rgb(205, 210, 206);
}

.rightside-bar a:hover{
    text-decoration: underline;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(34, 34, 34);
    height: 100px;
}

.footer p{
    color: rgb(205, 210, 206);
    font-size: 0.8rem;
}
